@use '../../styles/variables'as *;
@use '../../styles/mixins'as *;

.post-card-wrapper {
  min-height: 150px;
  width: 100%;
  display: flex;
  justify-content: center;

  .post-card {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    max-width: $content-max-width;
    border-bottom: 1px solid var(--post-card-border-color);
    padding: 1rem;
    color: var(--primary-text-color);

    cursor: pointer;
    transition: transform 0.2s;

    &:hover {
      .title,
      .description {
        opacity: 0.5;
      }
    }

    @include md {
      margin-bottom: 0;
    }

    .categories {
      margin-bottom: 0.7rem;

      .category {
        width: 100%;
        padding: 0.3rem 0.5rem;
        border-radius: 0.65rem;
        background-color: #8ffebf80;
        font-weight: bold;
      }
    }

    .title {
      font-size: 1.5rem;
      font-weight: 600;
      margin-bottom: 0.5rem;
      line-height: 1.4;
    }

    .description {
      font-size: 1rem;
      font-weight: 500;
      line-height: 20px;
      color: var(--summary-text-color);

      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      /* number of lines to show */
      -webkit-box-orient: vertical;
    }

    .info {
      display: flex;
      justify-content: space-between;
      margin-top: 1.4rem;
      font-size: 14px;
      font-weight: 500;
      color: #6b7280;
    }
  }
}
